
.main
    max-width: 1540px
    margin: 0 auto 36px
    padding: 1.5em 6em
    &__container
        max-width: 1170px
        margin: 34px auto 29px
    &__title
        font-size: calc(30px + 20 * (100vw / 1600))
        font-family: "Anton"
        text-transform: uppercase
    &__content
        display: grid
        grid-template-areas: "main__subtitle1 main__subtitle2" "main__section-one main__section-two" "main__images main__image"
        grid-template-columns: 1fr 1fr
        grid-template-rows:  auto auto auto
        column-gap: 30px
        row-gap: 1rem
    &__subtitle1
        grid-area: main__subtitle1
        font-size: calc(20px + 5 * (100vw / 1600))
        font-family: "Anton"
        text-transform: uppercase
    &__subtitle2
        grid-area: main__subtitle2
        font-size: calc(20px + 5 * (100vw / 1600))
        font-family: "Anton"
        text-transform: uppercase
    &__section-one
        grid-area: main__section-one
        font-family: "Open Sans"
        font-size: calc(14px + 2 * (100vw / 1600))
        text-align: justify
    &__section-two
        grid-area: main__section-two
        font-family: 'Open Sans'
        font-size: calc(14px + 2 * (100vw / 1600))
        text-align: justify
        
    &__images
        grid-area: main__images
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr))
        grid-gap: 29px
        justify-items: center
        margin-top: 3rem
    &__img-artcl1
        object-fit: cover
        width: 100%
        &:hover
            box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.09), 0px 1.20588px 6.63236px rgba(0, 0, 0, 0.058643), 0px 0.500862px 2.75474px rgba(0, 0, 0, 0.5), 0px 0.181152px 0.996336px rgba(0, 0, 0, 0.5)
    &__image
        grid-area: main__image
        display: grid
        justify-items: center
        height: fit-content
        margin-top: 3rem
    &__img-artcl2
        width:100%
        &:hover
            box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.09), 0px 1.20588px 6.63236px rgba(0, 0, 0, 0.058643), 0px 0.500862px 2.75474px rgba(0, 0, 0, 0.05), 0px 0.181152px 0.996336px rgba(0, 0, 0, 0.5)


@media (max-width: 1023px)
    .main
        &__images
            grid-gap: 15px
            margin-top: 1rem
        &__image
            margin-top: 1rem


@media (max-width: 767px)
    .main
        padding: 1em 2.5em
        &__content
            display: grid
            grid-template-areas: "main__subtitle1" "main__section-one" "main__images" "main__subtitle2" "main__section-two"  "main__image"
            grid-template-columns: 1fr
            grid-template-rows:  auto auto auto auto auto auto
            row-gap: 1rem
        &__subtitle1,
        &__subtitle2
            margin-top: 3rem
        &__images
            margin-top: 2rem
        &__image
            margin-top: 2rem
    

@media (max-width: 479px)
    .main
        padding: 1em
        &__title
            font-size: calc(30px + (20 + 20 * 0.7) * ((100vw - 320px) / 1600))
        &__subtitle
            font-size: calc(20px + (2.5 + 2.5 * 0.7) * ((100vw - 320px) / 1600))
        &__section-one
            font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1600))
        &__section-two
            font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1600))
        &__images
            grid-template-columns: 1fr
        &__img-artcl1
            width: 90%
        &__img-artcl2
            width: 90%