@font-face {
  font-family: "Anton";
  src: url(/assets/fonts/Anton-Regular.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url(/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf);
  font-style: normal;
  font-weight: 400;
}
.body {
  max-width: 1600px;
  box-sizing: border-box;
  margin: 0 auto;
}

.background-container {
  margin: 0 auto;
  background-image: url(../../images/header-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d3b5e;
  max-width: 1600px;
  max-height: 900px;
}

.header {
  max-width: 1540px;
  max-height: 837px;
  margin: 0 auto;
  padding: 1.5em 6em;
  font-family: "Anton";
  color: #FFFFFF;
}
.header__container {
  max-width: 1170px;
  max-height: 781px;
  margin: 0 auto;
}
.header__links {
  z-index: 2;
  max-width: 1169px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
}
.header__img {
  max-width: 90%;
}
.header__list {
  display: flex;
  list-style: none;
  padding: 0;
}
.header__list-item a {
  position: relative;
  margin-left: 40px;
  color: #FFF;
  font-size: calc(13px + 0.0625vw);
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.header__list-item:first-child a {
  margin-left: 69px;
}
.header__list-item a::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 0;
  height: 1px;
  background: #FFF;
  transition: width 0.3s ease-out;
}
.header__list-item a:hover::after {
  width: 100%;
}
.header__phone a {
  color: white;
  text-decoration: none;
  font-size: calc(14px + 0.1875vw);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.header__burger {
  display: none;
}
.header__content {
  padding: 15em 0;
}
.header__subtitle {
  font-size: calc(18px + 0.625vw);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: -5px 0;
}
.header__title {
  font-size: calc(58px + 2.625vw);
  text-transform: uppercase;
  margin: -10px 0 0.4em;
}
.header__title:hover {
  background-image: linear-gradient(to top, #ef8a2b, #fff, #fff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.6s ease;
}
.header__button {
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border: 1px solid #FFF;
  padding: 1em 3.2em;
}
.header__button:hover {
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1023px) {
  .header {
    padding: 1em 5em;
  }
  .header__list-item a {
    margin-left: 30px;
  }
  .header__list-item:first-child a {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 1em 2.5em;
  }
  .header__logo {
    display: none;
  }
  .header__list-item a {
    font-size: calc(13px + 1.7 * (100vw - 320px) / 1600);
    margin-left: 10px;
  }
  .header__list-item:first-child a {
    margin-left: 10px;
  }
  .header__button {
    font-size: 17px;
    width: 191.48px;
    height: 22px;
    padding: 18px 23px;
  }
}
@media (max-width: 479px) {
  .body.lock {
    overflow: hidden;
  }
  .header {
    padding: 1em;
  }
  .header__logo {
    display: initial;
  }
  .header__list {
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #0D173E, #201a43);
    width: 100%;
    height: 100%;
    top: -110%;
    left: 0;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__list.active {
    top: 0;
  }
  .header__list-item a {
    font-size: 30px;
  }
  .header__phone a {
    color: white;
    text-decoration: none;
    font-size: calc(14px + 5.1 * (100vw - 320px) / 1600);
  }
  .header__content {
    padding: 10em 0;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 24px;
    cursor: pointer;
  }
  .header__burger::before {
    content: "";
    background-color: #FFF;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after {
    content: "";
    background-color: #FFF;
    position: absolute;
    right: 0;
    width: 40%;
    height: 2px;
    bottom: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background-color: #FFF;
    right: 0;
    width: 65%;
    height: 2px;
    top: 11px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    width: 100%;
    top: 11px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    width: 100%;
    bottom: 11px;
  }
  .header__subtitle {
    font-size: calc(18px + 20.4 * (100vw - 320px) / 1600);
  }
  .header__title {
    font-size: calc(58px + 71.4 * (100vw - 320px) / 1600);
  }
  .header__button {
    font-size: 17px;
    background: rgba(255, 255, 255, 0.2);
  }
}
.main {
  max-width: 1540px;
  margin: 0 auto 36px;
  padding: 1.5em 6em;
}
.main__container {
  max-width: 1170px;
  margin: 34px auto 29px;
}
.main__title {
  font-size: calc(30px + 1.25vw);
  font-family: "Anton";
  text-transform: uppercase;
}
.main__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 30px;
}
.main__subtitle {
  font-size: calc(20px + 0.3125vw);
  font-family: "Anton";
  text-transform: uppercase;
}
.main__section-one {
  font-family: "Open Sans";
  font-size: calc(14px + 0.125vw);
  text-align: justify;
  margin-bottom: 7rem;
}
.main__section-two {
  font-family: "Open Sans";
  font-size: calc(14px + 0.125vw);
  text-align: justify;
  margin-bottom: 4rem;
}
.main__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  justify-items: center;
  grid-gap: 29px;
}
.main__img-artcl1 {
  object-fit: cover;
  max-width: 270px;
  width: 100%;
}
.main__img-artcl1:hover {
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.09), 0px 1.20588px 6.63236px rgba(0, 0, 0, 0.058643), 0px 0.500862px 2.75474px rgba(0, 0, 0, 0.045), 0px 0.181152px 0.996336px rgba(0, 0, 0, 0.031357);
}
.main__image {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.main__img-artcl2 {
  object-fit: cover;
  max-width: 570px;
  width: 100%;
}
.main__img-artcl2:hover {
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.09), 0px 1.20588px 6.63236px rgba(0, 0, 0, 0.058643), 0px 0.500862px 2.75474px rgba(0, 0, 0, 0.045), 0px 0.181152px 0.996336px rgba(0, 0, 0, 0.031357);
}

@media (max-width: 1023px) {
  .main {
    padding: 1em 5em;
  }
  .main__content {
    grid-gap: 20px;
  }
  .main__images {
    grid-gap: 19px;
  }
}
@media (max-width: 767px) {
  .main {
    padding: 1em 2.5em;
  }
  .main__content {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .main__section-one {
    margin-bottom: 2em;
  }
  .main__section-two {
    margin-bottom: 2em;
  }
  .main__images {
    grid-gap: 5px;
    margin-bottom: 2em;
  }
}
@media (max-width: 479px) {
  .main {
    padding: 1em;
  }
  .main__title {
    font-size: calc(30px + 34 * (100vw - 320px) / 1600);
  }
  .main__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .main__subtitle {
    font-size: calc(20px + 4.25 * (100vw - 320px) / 1600);
  }
  .main__section-one {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1600);
  }
  .main__section-two {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1600);
  }
  .main__images {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .main__img-artcl1 {
    width: 90%;
  }
  .main__img-artcl2 {
    width: 90%;
  }
}
.footer {
  max-width: 1540px;
  max-height: 137px;
  margin: 0 auto 39px;
  padding: 1.5em 6em;
}
.footer__container {
  max-width: 1170px;
  max-height: 79px;
  margin: 0 auto;
  display: flex;
  column-gap: 4.5em;
}
.footer__text {
  max-width: 270px;
  font-family: "Open Sans";
  font-size: calc(8px + 0.375vw);
}

.btn-up {
  font-family: "Open Sans";
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  right: 1em;
  bottom: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(0);
  opacity: 1;
}
.btn-up:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
.btn-up::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
  transform: translateY(100px);
}

@media (max-width: 1023px) {
  .footer {
    padding: 1em 5em;
  }
  .footer__container {
    column-gap: 2em;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 1em 2.5em;
  }
  .footer__container {
    column-gap: 3em;
  }
}
@media (max-width: 479px) {
  .footer {
    padding: 1em;
  }
  .footer__text {
    font-size: calc(8px + 10.2 * (100vw - 320px) / 1600);
  }
}

/*# sourceMappingURL=style.css.map */
